.paste-to-bin textarea {
  resize: none;
  width: 80%;
  height: 100px;
  font-size: 15px;
}

.paste-to-bin .field-wrapper {
  display: inline-block;
}

.paste-to-bin .required {
  color: orange;
}

#paste-to-bin-btn {
  background: url('./../img/icon.svg') no-repeat center center transparent;
  background-size: 90%;
}

#paste-to-bin-btn.active {
  background: url('./../img/icon-active.svg') no-repeat center center transparent;
  background-size: 90%;
}